<div class="container">
<h1>Details</h1>
<h2><%= @list.name %></h2>

<div>
<%@list.bookmarks.each do |bookmark|%>

  <p> <strong><%= bookmark.movie.title%></strong></h1>
  <p><%= bookmark.comment%></p>
  <p> <em><%= bookmark.movie.overview%></em></h1>
  <p> <em><%= image_tag bookmark.movie.poster_url, width: 200%></em></h1>
  <p> <em><%= bookmark.movie.rating%></em>
  <p><%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>

<%end%>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
</div>

<div class = "footer">
<p><%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'Go back to all the lists', root_path %></p>
</div>

</div>
